.container {
  background-color: white;
}

.containerchild {
  color: white;
  margin: 0 auto;
  width: 1200px;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 35px;
  z-index: 1;
}
