.container {
  background-color: white;
}

.containerchild {
  color: #454748;
  margin: 0 auto;
  width: 1200px;
}

.hotel-types {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
}

h3 {
  font-size: 25px;
  margin: 30px 0;
}
